/* Services Archive
-------------------------------------------------------------- */
.wrap-team-post .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap-services-post.column-1 .item,
.wrap-team-post.column-1 .item,
.wrap-case-study-post.column-1 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.wrap-services-post.column-2 .item,
.wrap-team-post.column-2 .item,
.wrap-case-study-post.column-2 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.wrap-services-post.column-3 .item,
.wrap-team-post.column-3 .item,
.wrap-case-study-post.column-3 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.wrap-services-post.column-4 .item,
.wrap-team-post.column-4 .item,
.wrap-case-study-post.column-4 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.wrap-services-post.column-5 .item,
.wrap-team-post.column-5 .item,
.wrap-case-study-post.column-5 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.wrap-services-post.column-6 .item,
.wrap-team-post.column-6 .item,
.wrap-case-study-post.column-6 .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666667%;
  flex: 0 0 16.6666667%;
  max-width: 16.6666667%;
}

.tf-services-wrap .owl-carousel {
  display: flex !important;
  width: unset;
}

.tf-services-wrap.style3 .owl-carousel {
  display: flex !important;
  width: unset !important;
  -webkit-tap-highlight-color: unset !important;
  position: unset !important;
}

/* style 1 */

.tf-services-wrap.style1 .services-post {
  position: relative;
}

.tf-services-wrap.style1 .featured-post img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.tf-services-wrap.style1 .featured-post a {
  overflow: hidden;
}

.tf-services-wrap.style1 .featured-post a::after {
  content: '';
  background: #F3F4F7;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-services-wrap.style1 .services-post:hover .featured-post a::after {
  background: #00194C;
  opacity: 0.6;
}

.tf-services-wrap.style1 .content {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 34px;
}

.tf-services-wrap.style1 .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

.tf-services-wrap.style1 .title a {
  color: #00194C;
}

.tf-services-wrap.style1 .title a:hover {
  color: var(--theme-primary-color);
}

.tf-services-wrap.style1 .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #3F4254;
  padding-bottom: 15px;
  border-bottom: 1px solid #6c6e7660;
  margin-bottom: 20px;

}

.tf-services-wrap.style1 .tf-button {
font-size: 16px;
font-weight: 600;
line-height: 28px;
color: var(--theme-primary-color);
}

.tf-services-wrap.style1 .tf-button i {
  margin-left: 2px;
  font-size: 20px;
  vertical-align: text-bottom;
}

.tf-services-wrap.style1 .count-service {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00194c69;
  color: transparent;
  position: absolute;
  top: 32px;
  left: 36px;
  z-index: 5;
}

.tf-services-wrap.style1 .icon {
  width: 68px;
  border-top: 4px solid var(--theme-primary-color);
  padding-top: 10px;
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 5;
  text-align: center;
  color: var(--theme-primary-color);
  font-size: 40px;
}

.tf-services-wrap.style1 .services-post:hover .icon {
  color: #fff;
  border-color: #fff;
}

.tf-services-wrap.style1 .services-post:hover .count-service {
  -webkit-text-stroke-color: #fff;
}

.tf-services-wrap.style1 .services-post:hover .description {
  border-color: #ffffff4a;
}

.tf-services-wrap.style1 .services-post:hover  .title a,
.tf-services-wrap.style1 .services-post:hover .description,
.tf-services-wrap.style1 .services-post:hover .tf-button {
  color: #fff;
}

/* style 2 */

.tf-services-wrap.style2 .services-post {
  background: #fff;
  border: 1px solid #E5E5E5;
}

.tf-services-wrap.style2 .featured-post {
  margin: 12px;
  margin-bottom: 0;
}

.tf-services-wrap.style2 .featured-post a {
  display: block;
}

.tf-services-wrap.style2 .featured-post img {
  height: 236px;
  object-fit: cover;
  width: 100%;
}

.tf-services-wrap.style2 .icon {
  width: 68px;
  height: 68px;
  background: var(--theme-primary-color);
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.tf-services-wrap.style2 .icon::after {
  content: '';
  width: 39px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tf-services-wrap.style2 .wrap-title {
  display: flex
  ;
  padding: 30px 60px 26px 30px;
      padding-top: 0;
      gap: 23px;
      position: relative;
}

.tf-services-wrap.style2 .title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 19px;
}

.tf-services-wrap.style2 .title a {
  -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tf-services-wrap.style2 .wrap-title .shape {
  color: var(--theme-primary-color);
  opacity: 0.3;
  position: absolute;
  top: 26px;
  right: 36px;
  font-size: 45px;
}

.tf-services-wrap.style2 .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #3F4254;
  padding: 30px 30px 30px 30px;
  padding-top: 0;
}

.tf-services-wrap.style2 .wrap-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F4F7;
  flex-wrap: wrap;
  padding: 15px 38px 16px 30px;
}

.tf-services-wrap.style2 .tf-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #6C6E76;
  }
  
  .tf-services-wrap.style2 .tf-button i {
    margin-left: 2px;
    font-size: 20px;
    vertical-align: text-bottom;
  }

.tf-services-wrap.style2 .tf-button:hover {
  color: var(--theme-primary-color);
}

.tf-services-wrap.style2 .count-service {
  font-size: 30px;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00194c69;
  color: transparent;
}

/* style 3 */

.tf-services-wrap.style3 .services-post {
  background: #F3F4F7;
  display: inline-block;
}

.tf-services-wrap.style3 .featured-post {
  margin: 12px;
  margin-bottom: 0;
}

.tf-services-wrap.style3 .featured-post a {
  display: block;
}

.tf-services-wrap.style3 .featured-post img {
  height: 236px;
  object-fit: cover;
  width: 100%;
}

.tf-services-wrap.style3 .icon {
  width: 68px;
  height: 68px;
  background: #fff;
  color: var(--theme-primary-color);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -64px;
  margin-bottom: 24px;
  z-index: 5;
}

.tf-services-wrap.style3 .icon::after {
  content: '';
  width: 39px;
  height: 4px;
  background: var(--theme-primary-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.tf-services-wrap.style3 .title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.tf-services-wrap.style3 .title a {
  -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tf-services-wrap.style3 .count-service {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00194c69;
  color: transparent;  
  position: absolute;
  top: 30px;
  right: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tf-services-wrap.style3 .services-post:hover .count-service {
  -webkit-text-stroke-color: var(--theme-primary-color);
}

.tf-services-wrap.style3 .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #6C6E76;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.tf-services-wrap.style3 .wrap-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F4F7;
  flex-wrap: wrap;
  padding: 15px 38px 16px 30px;
}

.tf-services-wrap.style3 .tf-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #6C6E76;
  }
  
  .tf-services-wrap.style3 .tf-button i {
    margin-left: 2px;
    font-size: 20px;
    vertical-align: text-bottom;
  }

.tf-services-wrap.style3 .tf-button:hover {
  color: var(--theme-primary-color);
}

.tf-services-wrap.style3 .content {
  padding: 30px 30px 30px 30px;
  position: relative;
}

/* style 4 */

.tf-services-wrap.style4 .services-post {
  display: inline-block;
  background: #fff;
}

.tf-services-wrap.style4 .featured-post {
  margin-bottom: 0;
}

.tf-services-wrap.style4 .featured-post a {
  display: block;
}

.tf-services-wrap.style4 .featured-post img {
  height: 234px;
  object-fit: cover;
  width: 100%;
}

.tf-services-wrap.style4 .icon {
  width: 73px;
  height: 84px;
  color: #fff;
  font-size: 40px;
  display: flex
;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -72px;
  margin-left: 3px;
  margin-bottom: 17px;
  z-index: 5;
}

.tf-services-wrap.style4 .icon::after {
  content: '';
  width: 73px;
  height: 84px;
  background: var(--theme-primary-color);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.tf-services-wrap.style4 .icon::before {
  content: '';
  width: 83px;
  height: 96px;
  background: var(--theme-primary-color);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0.2;
}

.tf-services-wrap.style4 .icon i {
  position: relative;
  z-index: 5;
}



.tf-services-wrap.style4 .title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.tf-services-wrap.style4 .title a {
  -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tf-services-wrap.style4 .count-service {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00194c69;
  color: transparent;  
  position: absolute;
  top: 33px;
  right: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tf-services-wrap.style4 .services-post:hover .count-service {
  -webkit-text-stroke-color: var(--theme-primary-color);
}

.tf-services-wrap.style4 .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #6C6E76;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.tf-services-wrap.style4 .wrap-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F4F7;
  flex-wrap: wrap;
  padding: 15px 38px 16px 30px;
}

.tf-services-wrap.style4 .tf-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #6C6E76;
  }
  
  .tf-services-wrap.style4 .tf-button i {
    margin-left: 2px;
    font-size: 20px;
    vertical-align: text-bottom;
  }

.tf-services-wrap.style4 .tf-button:hover {
  color: var(--theme-primary-color);
}

.tf-services-wrap.style4 .content {
  padding: 30px 30px 26px 30px;
  position: relative;
}

/* case study */

.tf-case-study-wrap.style1 .case-study-post {
  position: relative;
  overflow: hidden;
}

.tf-case-study-wrap.style1 .case-study-post .featured-post a {
  overflow: hidden;
}

.tf-case-study-wrap .case-study-post .featured-post img {
  width: 100%;
  height: 550px;
  -webkit-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -khtml-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -moz-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -ms-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -o-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  object-fit: cover;
}

.tf-case-study-wrap.style1 .case-study-post .featured-post a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 100%;
  background: linear-gradient(180deg, rgba(27, 30, 35, 0) 0%, #1b1e23 100%);
}

.tf-case-study-wrap .case-study-post:hover img {
  transform: scale(1.08);
}

.tf-case-study-wrap.style1 .case-study-post:hover .featured-post a::after,
.tf-case-study-wrap.style1 .owl-item.center .featured-post a::after {
  top: 0%;
}

.tf-case-study-wrap.style1 .case-study-post .content {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50px;
  bottom: 10px;
  right: 50px;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}

.tf-case-study-wrap.style1 .case-study-post:hover .content,
.tf-case-study-wrap.style1 .owl-item.center .content {
  bottom: 34px;
  visibility: visible;
  opacity: 1;
}

.tf-case-study-wrap.style1 .case-study-post .title {
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 5px;
}

.tf-case-study-wrap.style1 .case-study-post .title a {
  color: #fff;
}

.tf-case-study-wrap.style1 .case-study-post .title a:hover,
.tf-case-study-wrap.style1 .case-study-post .category-case-study a:hover {
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style1 .case-study-post .category-case-study a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  color: #fff;
}

.tf-case-study-wrap.style1 .case-study-post .tf-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-secondary-color);
  color: #1B1E23;
}

.tf-case-study-wrap.style1 .case-study-post .tf-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0%;
  height: 0%;
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -khtml-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -o-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  z-index: 2;
}

.tf-case-study-wrap.style1 .case-study-post .tf-button:hover::after {
  width: 100%;
  height: 100%;
}

.tf-case-study-wrap.style1 .case-study-post .tf-button i {
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1B1E23;
  position: relative;
  z-index: 3;
}

.tf-case-study-wrap.style1 .case-study-post .tf-button:hover i {
  transform: rotate(45deg);
}

/* style 2 */

.tf-case-study-wrap.style2 .case-study-post {
  position: relative;
  overflow: hidden;
}

.tf-case-study-wrap.style2 .featured-post a {
  overflow: hidden;
}

.tf-case-study-wrap.style2 .featured-post a img {
  object-fit: cover;
  height: 550px;
}

.tf-case-study-wrap.style2 .featured-post a::after {
  content: '';
  z-index: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
  background: linear-gradient(180deg, rgba(27, 57, 66, 0) 0%, #1b3942 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.tf-case-study-wrap.style2 .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  display: inline-flex;
  position: relative;
  margin-bottom: 5px;
}

.tf-case-study-wrap.style2 .title a,
.tf-case-study-wrap.style2 .description,
.tf-case-study-wrap.style2 .category-case-study a {
  color: #fff;
}

.tf-case-study-wrap.style2 .title a:hover,
.tf-case-study-wrap.style2 .category-case-study a:hover {
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style2 .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  margin-bottom: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: translateY(20px);
  transition-delay: .2s;
}

.tf-case-study-wrap.style2 .case-study-post .tf-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-secondary-color);
  color: #1B1E23;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition-delay: .4s;
}

.tf-case-study-wrap.style2 .case-study-post .tf-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0%;
  height: 0%;
  background-color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -khtml-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -o-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  z-index: 2;
}

.tf-case-study-wrap.style2 .case-study-post .tf-button:hover::after {
  width: 100%;
  height: 100%;
}

.tf-case-study-wrap.style2 .case-study-post .tf-button i {
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1B1E23;
  position: relative;
  z-index: 3;
}

.tf-case-study-wrap.style2 .case-study-post .tf-button:hover i {
  transform: rotate(45deg);
}

.tf-case-study-wrap.style2 .case-study-post .content {
  text-align: center;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
  bottom: 38px;
  left: 0;
  right: 0;
  padding: 0px 15px;
  transform: translateY(127px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tf-case-study-wrap.style2 .case-study-post:hover .content {
  transform: translateY(0px);
}

.tf-case-study-wrap.style2 .case-study-post:hover .description,
.tf-case-study-wrap.style2 .case-study-post:hover .tf-button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* style 3 */

.tf-case-study-wrap.style3 .case-study-post {
  position: relative;
}


.tf-case-study-wrap.style3 .featured-post a {
  overflow: hidden;
  border-radius: 10px;
}

.tf-case-study-wrap.style3 .featured-post a img {
  object-fit: cover;
  height: 430px;
}

.tf-case-study-wrap.style3 .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  color: #163838;
  margin-bottom: 5px;
}

.tf-case-study-wrap.style3 .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #555555;
  margin-bottom: 25px;
  transform: translateY(20px);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.tf-case-study-wrap.style3 .category-case-study a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  color: #555555;
}

.tf-case-study-wrap.style3 .category-case-study a:hover {
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style3 .content.content-hover {
  text-align: center;
  padding: 35px;
  box-shadow: 10px 4px 60px 0px #B6B6B640;
  border-color: #1638381A;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  bottom: -20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.tf-case-study-wrap.style3 .tf-button {
  border: 1px solid #1638381A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555555;
  margin: 0 auto;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
}

.tf-case-study-wrap.style3 .tf-button:hover {
  background: var(--theme-secondary-color);
  color: #163838;
  border-color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style3 .case-study-post:hover .description {
  transition-delay: .2s;
}

.tf-case-study-wrap.style3 .case-study-post:hover .tf-button {
  transition-delay: .4s;
}

.tf-case-study-wrap.style3 .case-study-post:hover .description,
.tf-case-study-wrap.style3 .case-study-post:hover .tf-button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.tf-case-study-wrap.style3 .case-study-post:hover .content.content-hover {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
}

.tf-case-study-wrap.style3 .case-study-post:hover .content.content-front {
  opacity: 0;
  visibility: hidden;
}

.tf-case-study-wrap.style3 .content.content-front {
  text-align: center;
  padding-top: 30px;
}

/* style 4 */

.tf-case-study-wrap.style4 .case-study-post {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  position: relative;
  border-radius: 0px;
  border-bottom: 1px solid rgba(18, 18, 18, 0.1);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tf-case-study-wrap.style4 .case-study-post:hover {
  background: #ECE8E0;
  border: 1px solid #12121212;
  border-radius: 10px;
}

.tf-case-study-wrap.style4 .case-study-post .number {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(18, 18, 18, 0.1);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  color: #121212;
  z-index: 5;
}

.tf-case-study-wrap.style4 .case-study-post .number.s2 {
  right: 51%;
  left: unset;
  top: 0;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}

.tf-case-study-wrap.style4 .case-study-post:hover .number {
  top: 0;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}

.tf-case-study-wrap.style4 .case-study-post:hover .number.s2 {
  top: 32px;
  transform: translateY(0%);
  transition-delay: 0.2s;
  visibility: visible;
  opacity: 1;
}

.tf-case-study-wrap.style4 .case-study-post .featured-post {
  width: 50%;
}

.tf-case-study-wrap.style4 .case-study-post .featured-post a {
  overflow: hidden;
}

.tf-case-study-wrap.style4 .case-study-post .featured-post img {
  margin-left: calc(100% - 423px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 410px;
  height: 200px;
  border-radius: 10px;
  transform: unset !important;
}

.tf-case-study-wrap.style4 .case-study-post:hover .featured-post img {
  margin-left: 0;
}

.tf-case-study-wrap.style4 .case-study-post .content {
  padding-left: 57px;
  width: 50%;
  padding-right: 80px;
  padding-top: 14px;
}

.tf-case-study-wrap.style4 .case-study-post .category-case-study {
  margin-bottom: 4px;
}

.tf-case-study-wrap.style4 .case-study-post .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-family: 'Manrope';
  margin-bottom: 25px;
}

.tf-case-study-wrap.style4 .case-study-post .category-case-study a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  color: #555;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button {
  background-color: transparent;
  gap: 8px;
  border: 1px solid #1638381A;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 13px 15px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button .plus {
  color: #555555;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  transform: translateX(46px);
  margin-top: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button .read {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button:hover {
  width: 150px;
  border-radius: 10px;
  background-color: #B69974;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button:hover .plus {
  transform: translateX(0px);
  color: #fff;
}

.tf-case-study-wrap.style4 .case-study-post .tf-button:hover .read {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition-delay: 0.1s;
}

/* case 5 */

.tf-case-study-wrap.style5 .case-study-post {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.tf-case-study-wrap.style5 .featured-post a {
  overflow: hidden;
}
.tf-case-study-wrap.style5 .featured-post a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(27, 30, 35, 0) 0%, #1b1e23 100%);
}

.tf-case-study-wrap.style5 .case-study-post .featured-post img {
  height: 550px;
}

.tf-case-study-wrap.style5 .case-study-post .category-case-study a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;
  color: #fff;
}

.tf-case-study-wrap.style5 .case-study-post .category-case-study a:hover,
.tf-case-study-wrap.style5 .case-study-post .title a:hover {
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style5 .case-study-post .category-case-study {
  margin-bottom: 4px;
}

.tf-case-study-wrap.style5 .case-study-post .title {
  font-family: 'Manrope';
  font-size: 27px;
  font-weight: 700;
  line-height: 36.88px;
  margin-bottom: 31px;
}

.tf-case-study-wrap.style5 .case-study-post .title a {
  color: #fff;
}

.tf-case-study-wrap.style5 .case-study-post .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
}

.tf-case-study-wrap.style5 .case-study-post:hover .description {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tf-case-study-wrap.style5 .tf-button-container {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}

.tf-case-study-wrap.style5 .case-study-post:hover .tf-button-container {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.tf-case-study-wrap.style5 .tf-button {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 700;
  line-height: 21.86px;
  color: #fff;
}

.tf-case-study-wrap.style5 .tf-button:hover {
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style5 .tf-button i {
  font-size: 13px;
  margin-left: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-case-study-wrap.style5 .tf-button span {
  position: relative;
}

.tf-case-study-wrap.style5 .tf-button span::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -1px;
  background: var(--theme-secondary-color);
  height: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-case-study-wrap.style5 .tf-button:hover span::after {
  width: 100%;
}

.tf-case-study-wrap.style5 .tf-button:hover i {
  margin-left: 4px;
  color: var(--theme-secondary-color);
}

.tf-case-study-wrap.style5 .content {
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding: 20px 40px 40px 58px;
  transform: translateY(46%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-case-study-wrap.style5 .case-study-post:hover .content {
  transform: translateY(0%);
}

.tf-case-study-wrap .owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  bottom: -64px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tf-case-study-wrap .owl-carousel .owl-dots button {
  width: 7px;
  height: 7px;
  background: #1B1E23;
  border-radius: 50%;
  position: relative;
}

.tf-case-study-wrap .owl-carousel .owl-dots button::after {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  width: 21px;
  height: 21px;
  overflow: visible;
  border: 1px solid var(--theme-primary-color);
  opacity: 0;
  padding: 0;
}

.tf-case-study-wrap .owl-carousel .owl-dots button.active::after {
  opacity: 1;
  visibility: visible;
}

.case-study-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px 16px;
  margin-bottom: 35px;
}

.case-study-filter li {
  border: 1px solid transparent;
  padding: 5px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Manrope';
}

.case-study-filter li.active,
.case-study-filter li:hover {
  box-shadow: 10px 4px 30px 0px #B2B2B233;
  border-color: #0309171A;
}

.case-study-filter li a {
  color: #555;
  display: inline-block;
  width: max-content;
}

.case-study-filter li a:hover,
.case-study-filter li.active a {
  color: #1B3942;
}

/* single case */

.single-case-study  .content-area,
.post-type-archive-case-study .content-area,
.tax-case_study_category .content-area {
  float: unset !important;
  width: unset !important;
  padding-right: unset !important;
}

.post-type-archive-case-study .navigation.paging-navigation.case-study {
  text-align: center;
  margin-top: 50px;
}

.post-type-archive-case-study .case-study-post {
  margin-bottom: 30px;
}

.single-case-study .container {
  max-width: 1314px;
}

.content-top-infor {
  display: flex;
  gap: 20px 100px;
  align-items: center;
  margin-bottom: 30px;
}

.content-top-infor .content-left {
  width: 35%;
}

.content-top-infor .content-right {
  width: 65%;
  padding-left: 35px;
}

.content-top-infor .content-left h4 {
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.02em;
  padding-bottom: 48px;
  border-bottom: 1px solid #1B1E231A;
  margin-bottom: 41px;
}

.content-top-infor .content-left p {
font-size: 16px;
font-weight: 400;
line-height: 30px;
color: #555555;
margin-bottom: 2px;
}

.content-top-infor .content-right .featured-post img {
  height: 520px;
  width: 100%;
  object-fit: cover;
}

.single-case-study .bottom-infor {
  display: flex
;
  flex-wrap: wrap;
  border-radius: 10px;
  background: #F2EDEA;
  padding: 40px 50px;
  align-items: center;
  list-style: none;
  padding-bottom: 37px;
  justify-content: space-between;
  gap: 20px;
}

.single-case-study .bottom-infor p {
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 500;
  line-height: 19.12px;
  color: #555555;    
  margin-bottom: 2px;
}

.single-case-study .bottom-infor h5 {
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  color: #1B1E23;
}

.single-case-study .nav-links  {
  border: none;
  padding: 0;
  align-items: center;
  margin: 0;
  padding-top: 100px;
  border-top: 1px solid #1B1E231A;
  margin-top: 100px;
}

.single-case-study .post-navigation.next-post {
  justify-content: right;
  text-align: right;
}

.single-case-study .nav-links .thump-post img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.single-case-study .nav-links .thump-post a {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
}

.single-case-study .nav-links .thump-post a::after {
  content: '';
  background: #1B1E23A6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-case-study .nav-links .thump-post a::before {
  content: "\e908";
  font-family: 'finwice';
  width: 50px;
  height: 50px;
  background: var(--theme-secondary-color);
  color: #121212;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex
;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}

.single-case-study .nav-links .thump-post a:hover::before {
  background: #fff;
  color: #121212;
}

.single-case-study .nav-links .post-navigation:hover .thump-post a::before,
.single-case-study .nav-links .post-navigation:hover .thump-post a::after {
  opacity: 1;
  visibility: visible;
}

.single-case-study .nav-links .content > a {
font-size: 16px;
font-weight: 400;
line-height: 18.8px;
color: #555555;
}

.single-case-study .nav-links .content > a:hover,
.single-case-study .nav-links .content .title-post a {
  color: var(--theme-primary-color);
}

.single-case-study .nav-links .content .title-post a {
font-family: 'Manrope';
font-size: 20px;
font-weight: 700;
line-height: 27.32px;
color: #1B1E23;
}

.single-case-study .nav-links .post-navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

/* Carousel
-------------------------------------------------------------- */

.text-half .counter-number {
  background: linear-gradient(to top, #FFFFFF 52.5%, var(--theme-primary-color) 52.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-padding .item {
  padding-left: 0px;
  padding-right: 0px;
}

/* recent post */

.widget-recent-new .thumb-first .thumb img {
  height: 240px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.widget-recent-new .thumb-first .thumb {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 19px;
}

.widget-recent-new .thumb-first .thumb .post-date {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  background: var(--theme-primary-color);
  padding: 10px;
  border-radius: 0 0 12px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  text-align: center;
}

.widget-recent-new .thumb-first .posts-category a {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #5E5A56;
}

.widget-recent-new .thumb-first .posts-category {
  margin-bottom: 5px;
}

.widget-recent-new .thumb-first h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

.widget-recent-new ul li {
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E4E4E4;
}

.widget-recent-new ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.widget-recent-new .thumb-2nd .thumb {
  position: relative;
  overflow: hidden;
  margin-right: 28px;
  flex-shrink: 0;
}

.widget-recent-new .thumb-2nd .thumb img {
  width: 112px;
  height: 84px;
  border-radius: 8px;
  object-fit: cover;
}

.widget-recent-new .thumb-2nd {
  display: flex;
}

.widget-recent-new .thumb-2nd .inner-meta {
  display: flex;
  align-items: center;
  column-gap: 17px;
  row-gap: 0;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

.widget-recent-new .thumb-2nd .posts-category a,
.widget-recent-new .thumb-2nd .post-date {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #5E5A56;
}

.widget-recent-new .thumb-2nd h6 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.widget-recent-new .thumb-2nd h6 a {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.widget-recent-new .thumb-2nd .text {
  margin-top: -6px;
}

.widget-recent-new .thumb-2nd .inner-meta div {
  position: relative;
}

.widget-recent-new .thumb-2nd .inner-meta div:not(:last-child)::after {
  content: '';
  background: #E4E4E4;
  width: 1px;
  height: 16px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Single Team */

.single-team .content-area {
  float: unset !important;
  width: unset !important;
  padding-right: unset !important;
}

.single-information-author {
  display: flex;
  margin-left: -100px;
}

.single-information-author .content-left {
  width: calc(36.5% - 100px);
  margin-left: 100px;
}

.single-information-author .content-right {
  width: calc(63.5% - 100px);
  margin-left: 100px;
}

.single-information-author .featured-post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.single-information-author .featured-post {
  margin-bottom: 25px;
}

.single-information-author .post-title {
font-size: 30px;
font-weight: 700;
line-height: 40.98px;
letter-spacing: -0.02em;
margin-bottom: 7px;
}

.single-information-author .category-team {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.15px;
  color: #555555;    
  padding-bottom: 40px;
  border-bottom: 1px solid #1B1E231A;
  margin-bottom: 40px;
}

.single-information-author  .title-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  position: relative;
  margin-bottom: 55px;
}

.single-information-author  .title-label::after {
  content: '';
  width: 50px;
  height: 1px;
  background: #1B1E23;
  position: absolute;
  left: 0;
  bottom: -16px;
}

.single-information-author .team-contact .inner span {
  font-family: 'Manrope';
font-size: 18px;
font-weight: 600;
line-height: 24.59px;
color: #555555;
}

.single-information-author .team-contact .inner h6 {
  font-family: 'Manrope';
  font-size: 22px;
  font-weight: 700;
  line-height: 30.05px;
  margin: 0;
  margin-top: 3px;
}

.single-information-author .team-contact .inner:not(:last-child) {
  margin-bottom: 29px;
}

.single-information-author .team-contact {
  padding-bottom: 40px;
  border-bottom: 1px solid #1B1E231A;
  margin-bottom: 40px;
}

.single-information-author .list-social {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}

.single-information-author .list-social a {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  color: #555555;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2EDEA;
}

.single-information-author .list-social a:hover {
  background: #1B1E23;
  color: #fff;
}

.single-information-author .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #5E5A56;
  margin-bottom: 52px;
}

/* archive team */
.themesflat-team-taxonomy .content-area {
  float: unset !important;
  width: unset !important;
  padding-right: unset !important;
}

.container-archive {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.single-information-author .group-infor span,
.single-information-author .group-infor2 span {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #5E5A56;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}

.single-information-author .group-infor .inner {
  width: 50%;
  margin-bottom: 13px;
}

.single-information-author .group-infor2 {
  list-style: none;
  margin: 0;
  margin-top: -13px;
  padding-left: 0px;
}

.single-information-author .group-infor2 .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
}

.single-information-author .group-infor2 .inner h6 {
  margin: 0;
  text-align: right;
}

.single-information-author .group-infor2 .inner:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
}

/* archive therapist */

.container-archive.wrap-therapists-post {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.container-archive.wrap-therapists-post .item,
.container-archive .item {
  width: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.container-archive .team-post {
  overflow: hidden;
  border: 1px solid #1638381A;
  padding: 10px;
  border-radius: 10px;
}

.container-archive .features-post img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  -webkit-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -khtml-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -moz-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -ms-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -o-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.container-archive .team-post:hover .features-post img {
  transform: scale(1.08);
}

.container-archive .features-post a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.container-archive .list-social {
  list-style: none;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.container-archive .list-social a {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  color: #555555;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.container-archive .list-social li {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
}

.container-archive .list-social li:nth-child(1) {
  transition-delay: .1s;
}
.container-archive .list-social li:nth-child(2) {
  transition-delay: .2s;
}
.container-archive .list-social li:nth-child(3) {
  transition-delay: .3s;
}
.container-archive .list-social li:nth-child(4) {
  transition-delay: .4s;
}
.container-archive .list-social li:nth-child(5) {
  transition-delay: .5s;
}
.container-archive .list-social li:nth-child(6) {
  transition-delay: .6s;
}

.container-archive .team-post:hover .list-social li {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}


.container-archive .list-social a:hover {
  color: #fff;
  background: #1B1E23;
}

.container-archive .features-post {
  position: relative;
}

.container-archive .features-post .plus {
  width: 46px;
  height: 46px;
  display: flex
;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 7px 4px 30px 0px #16383833;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  color: #163838;
  background: #fff;
  font-size: 14px;
  font-weight: 100;
  -webkit-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -khtml-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -moz-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -ms-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -o-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.container-archive .team-post {
  text-align: center;
}

.container-archive .team-post:hover .plus {
  transform: translateX(-50%) rotate(90deg);
  background: var(--theme-secondary-color);
}

.container-archive .team-post .title {
font-size: 20px;
font-weight: 700;
line-height: 27.32px;
margin-bottom: 0px;
}

.container-archive .team-post .title a {
  color: #163838;
}

.container-archive .team-post .category-team a {
font-size: 14px;
font-weight: 400;
line-height: 16.45px;
color: #555555;
}

.container-archive .team-post .category-team a:hover,
.container-archive .team-post .title a:hover {
  color: var(--theme-secondary-color);
}

.container-archive .team-post .content {
  padding-top: 48px;
  padding-bottom: 7px;
}


/* carousel */

.owl-nav.disabled {
  display: none !important;
}

.tf-services-wrap.has-carousel .wrap-services-post .item,
.tf-case-study-wrap.has-carousel .wrap-case-study-post .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.tf-services-wrap .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex
;
  gap: 15px;
  bottom: -53px;
}

.tf-services-wrap .owl-dots button,
.tf-services-wrap .owl-dots .owl-dot {
  background-color: transparent;
  border-radius: 99px;
  border: 1px solid #24283E;
  width: 8px;
  height: 8px;
  line-height: 8px;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -khtml-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  -o-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
}

.tf-services-wrap .owl-dots .owl-dot.active:before,
.tf-services-wrap .owl-dots .owl-dot:hover:before,
.tf-services-wrap .owl-dots button.active:before,
.tf-services-wrap .owl-dots button:hover:before {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: '';
  border: 1px solid var(--theme-primary-color);
  background: transparent;
  border-radius: 99px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tf-services-wrap .owl-dots button.active,
.tf-services-wrap .owl-dots button:hover,
.tf-services-wrap .owl-dots .owl-dot.active,
.tf-services-wrap .owl-dots .owl-dot:hover {
  background: #24283E;
}

.tf-services-wrap .owl-carousel .owl-nav button,
.tf-services-wrap .owl-nav .owl-prev,
.tf-services-wrap .owl-nav .owl-next {
  background: transparent;
  color: var(--theme-secondary-color);
  border: 1px solid #F3F5F5;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-services-wrap .owl-nav button.owl-prev,
.tf-services-wrap .owl-nav button.owl-next,
.tf-services-wrap .owl-nav .owl-prev,
.tf-services-wrap .owl-nav .owl-next {
  top: 50%;
  position: absolute;
  left: -3%;
  transform: translateY(-50%);
}

.tf-services-wrap .owl-nav button.owl-next,
.tf-services-wrap .owl-nav .owl-next {
  left: unset;
  right: -3%;
}

.tf-services-wrap .owl-carousel .owl-nav button.active,
.tf-services-wrap .owl-carousel .owl-nav button:hover,
.tf-services-wrap .owl-nav .owl-prev.active,
.tf-services-wrap .owl-nav .owl-next:hover,
.tf-services-wrap .owl-nav .owl-prev.active,
.tf-services-wrap .owl-nav .owl-next:hover {
  background: var(--theme-secondary-color);
  color: #fff;
  border-color: var(--theme-secondary-color);
}

.tf-services-wrap .owl-carousel .owl-nav button.disabled,
.tf-services-wrap .owl-nav .owl-prev.disabled,
.tf-services-wrap .owl-nav .owl-next.disabled {
  opacity: 0.6;
  cursor: unset;
}

/* team */

.tf-team-wrap.style1 .featured-post img {
  height: 400px;
  object-fit: cover;
}

.tf-team-wrap.style1 .featured-post {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.tf-team-wrap.style1 .list-social {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  background: #00000026;
  padding: 12px 20px;
  justify-content: center;
  position: absolute;
  bottom: -15%;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-team-wrap.style1 .team-post:hover .list-social {
  bottom: 0%;
}

.tf-team-wrap.style1 .list-social a::before {
  display: none;
}

.tf-team-wrap.style1 .list-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF26;
  backdrop-filter: blur(20px);
  border: 1px solid #FFFFFF26;
  position: relative;
  overflow: hidden;
}

.tf-team-wrap.style1 .list-social a:hover {
  background: var(--theme-secondary-color);
  border-color: var(--theme-secondary-color);
  color: #fff;
}

.tf-team-wrap.style1 .title {
font-size: 22px;
font-weight: 500;
line-height: 30px;
margin-bottom: 1px;
}

.tf-team-wrap.style1 .category-team a {
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: var(--theme-secondary-color);
}

.tf-team-wrap.style1 .category-team a:hover {
  color: var(--theme-primary-color);
}

/* style 2 */

.tf-team-wrap.style2 .team-post {
  background: #fff;
  padding: 33px 32px 30px 32px;
}

.tf-team-wrap.style2 .featured-post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tf-team-wrap.style2 .featured-post a {
  display: block;
}

.tf-team-wrap.style2 .featured-post {
  position: relative;
  overflow: hidden;
  margin-bottom: 28px;
  width: 255px;
  height: 255px;
  border-radius: 50%;
}

.tf-team-wrap.style2 .list-social {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.tf-team-wrap.style2 .team-post:hover .list-social {
  opacity: 1;
}

.tf-team-wrap.style2 .list-social a::before {
  display: none;
}

.tf-team-wrap.style2 .list-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000003b;
  border: 1px solid #FFFFFF26;
  position: relative;
  overflow: hidden;
}

.tf-team-wrap.style2 .list-social a:hover {
  background: var(--theme-secondary-color);
  border-color: var(--theme-secondary-color);
  color: #fff;
}

.tf-team-wrap.style2 .title {
font-size: 22px;
font-weight: 500;
line-height: 30px;
margin-bottom: 1px;
}

.tf-team-wrap.style2 .category-team a {
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: var(--theme-secondary-color);
}

.tf-team-wrap.style2 .category-team a:hover {
  color: var(--theme-primary-color);
}

.border_eff a {
  display: inline !important;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-size: 0 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.border_eff a:hover {
  background-size: 100% 100%;
  color: inherit;
}


/* hover */

.hover-flash .featured-post a {
  overflow: hidden;
}

.hover-flash .featured-post a::before {
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.hover-flash:hover .featured-post a::before {
  -webkit-animation: flashshine 1.5s;
  animation: flashshine 1.5s;
}

@keyframes flashshine {
  100% {
      left: 125%;
  }
}

.scale-hover .featured-post img {
  -webkit-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -khtml-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -moz-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -ms-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  -o-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
}


.scale-hover:hover .featured-post img {
  transform: scale(1.07);
}


/* Responsive
-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

  .style1 .wrap-services-post.column-3 .item,
  .style2 .wrap-services-post.column-3 .item {
      max-width: 50% !important;
      flex: 0 0 50% !important;

  }
  .tf-services-wrap.style1 {
      padding: 20px;
  }
  .tf-services-wrap.style1 .services-post .content {
      padding-left: 20px;
  }
  .tf-services-wrap.style1 .services-post .title {
      font-size: 30px;
  }
  .tf-services-wrap.style1 .services-post .group-features ul li i {
      font-size: 12px;
  }
  .tf-services-wrap.style1 .services-post .group-features ul li {
      font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {

  .wrap-team-post.column-4 .item,
  .wrap-case-study-post.column-4 .item,
  .wrap-services-post.column-4 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }

  .wrap-team-post.column-5 .item,
  .wrap-case-study-post.column-5 .item,
  .wrap-services-post.column-5 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }

}

@media only screen and (max-width: 767px) {

  .wrap-team-post .item,
  .wrap-case-study-post .item,
  .wrap-services-post .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 0 !important;
  }

  .owl-carousel .owl-nav,
  .group-navigation {
      display: none;
  }

  .wrap-case-study-post.column-3 .item,
  .wrap-team-post.column-3 .item,
  .themesflat-case-study-taxonomy .wrap-case-study-post.column-2 .item,
  .wrap-services-post.column-3 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }

  .wrap-case-study-post.column-4 .item,
  .wrap-team-post.column-4 .item,
  .wrap-services-post.column-4 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 100%;
  }

  .wrap-case-study-post.column-5 .item,
  .wrap-team-post.column-5 .item,
  .wrap-services-post.column-5 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }

}
@media only screen and (max-width: 600px) {
  .wrap-case-study-post.column-4 .item,
  .wrap-team-post.column-4 .item,
  .wrap-services-post.column-4 .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}